[Desktop Entry]
Name=ASUS Aura Control
Comment=Control your ASUS ROG Keyboard RGB Lighting and Shortcuts
Exec=/usr/bin/asus-rgb-setup
Icon=asus-rgb-setup
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
