[Desktop Entry]
Name=ASUS RGB Setup
Comment=Configure your ASUS ROG Keyboard RGB Shortcuts
Exec=/usr/bin/asus-rgb-setup
Icon=preferences-desktop-keyboard
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
